.post.hentry
  %h5.postDate
    %abbr.published#thePublished
  .postContent
    %h3.entry-title
      %a#theTitle{:href => '', :title => ''} 
    %h4.vcard.author
      %span.fn#thePoster
      gửi
    .entry-content#theContent
    .postMeta
      .comments
        %a{:href => 'http://facebook.com/quanganhdo', :title => 'Facebook'} facebook
      
.pageNav
  .prev
    %a#thePrev{:href => 'javascript:return false', :title => ''} &larr; Nhầm, quay lại link trước
  .next
    %a#theNext{:href => 'javascript:return false', :title => ''} Nữa đi &rarr;