.post.hentry
  %h5.postDate
    %abbr.published#thePublished
  .postContent
    %h3.entry-title
      %a#theTitle{:target => '_blank'} 
    %h4.vcard.author
      %span.fn#thePoster
      gửi
    .entry-content#theContent
    .postMeta
      .comments
        %a#theComments
      
.pageNav
  .prev
    %a{:href => ''} &larr; Nhầm, quay lại link trước
  .next
    %a{:href => ''} Nữa đi &rarr;