.post.hentry
  %h5.postDate
    %abbr.published Now
  .postContent
    %h3.entry-title
      %a#theTitle{:href => '', :title => ''} Chờ chút nhé...
    %h4.vcard.author
      %span.fn @quanganhdo
      gửi
    .entry-content#theContent
      %p Đang lấy dữ liệu từ LinkHay...
    .postMeta
      .comments
        %a{:href => 'http://facebook.com/quanganhdo', :title => 'Facebook'} facebook
      
.pageNav
  .prev
    %a{:href => '', :title => ''} &larr; Nhầm, quay lại link trước
  .next
    %a{:href => '', :title => ''} Nữa đi &rarr;