!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		%title LinkHay Reader by @quanganhdo
		%link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/css/style.css'}
		%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
		%script{:type => 'text/javascript', :src => "/js/hotkey.js"}	
		%script{:type => 'text/javascript', :src => "/js/history.js"}	
		%script{:type => 'text/javascript', :src => "/js/app.js?t=#{Time.now.to_f}"}
		
	%body
		#siteWrapper
			%h1.vcard.author
				%a.fn{:href => '/', :title => 'Reader'} LinkHay Reader
				
			#mainNav
				%ul
					%li
						By
						%a{:href => 'http://twitter.com/quanganhdo', :title => '@quanganhdo'} @quanganhdo
			
			#siteDescription 
				Đọc tin trên LinkHay, bỏ qua việc vote, bình luận, giao lưu bạn bè, xem thông báo và những thứ giá trị gia tăng khác. Dùng phím j và k để đọc tin kế tiếp/vừa đọc, Space bar để cuộn trang.				
				%div{'text-align' => 'center'} <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flinkhay.heroku.com&amp;layout=button_coun&amp;show_faces=false&amp;width=300&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:35px;" allowTransparency="true"></iframe>
			
			#coreContent.hfeed
				= yield
			
		#footer
			%h5 Tớ là ai?
			%ul.elsewhere
				%li
					%a{:href => 'http://works.quanganhdo.com', :title => 'Portfolio'} Portfolio
				%li
					%a{:href => 'http://twitter.com/quanganhdo', :title => 'Twitter'} Twitter
				%li
					%a{:href => 'http://facebook.com/quanganhdo', :title => 'Facebook'} Facebook
			.footerContent
				%p
					%a{:href => 'http://twitter.com/quanganhdo', :title => '@quanganhdo'} @quanganhdo
					viết bằng Ruby, Sinatra &amp; template engine Haml
					&middot; 
					Dùng theme Manifest của
					%a{:href => 'http://jimbarraud.com/2009/03/19/manifest/', :title => 'Jim Barraud'} Jim Barraud
					&middot;
					Sử dụng thư viện jQuery, jQuery History &amp; jquery-hotkey
					&middot;
					Dữ liệu lấy qua API của LinkHay
					&middot;
					Trang web được đặt trên heroku