!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		%title LinkHay Reader by @quanganhdo
		%link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/css/style.css'}
		%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
		%script{:type => 'text/javascript', :src => "/js/app.js?t=#{Time.now.to_f}"}		
		
	%body
		#siteWrapper
			%h1.vcard.author
				%a.fn{:href => '/', :title => 'Reader'} LinkHay Reader
				
			#mainNav
				%ul
					%li
						By
						%a{:href => 'http://twitter.com/quanganhdo', :title => '@quanganhdo'} @quanganhdo
			
			#siteDescription Đọc từng tin một trên LinkHay, không quan tâm đến vote, bình luận, bạn bè, thông báo hay bất cứ cái gì khác
			
			#coreContent.hfeed
				= yield
			
		#footer
			%h5 Tớ là ai?
			%ul.elsewhere
				%li
					%a{:href => 'http://works.quanganhdo.com', :title => 'Portfolio'} Portfolio
				%li
					%a{:href => 'http://twitter.com/quanganhdo', :title => 'Twitter'} Twitter
				%li
					%a{:href => 'http://facebook.com/quanganhdo', :title => 'Facebook'} Facebook
			.footerContent
				%p
					%a{:href => 'http://twitter.com/quanganhdo', :title => '@quanganhdo'} @quanganhdo
					viết 
					&middot; 
					Dùng theme Manifest của
					%a{:href => 'http://jimbarraud.com/2009/03/19/manifest/', :title => 'Jim Barraud'} Jim Barraud
					&middot;
					Dữ liệu lấy qua API của LinkHay